#span_1949_0{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#table_1949_0{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_0{height:19.35pt;}
#td_1949_0{width:499.5pt;border:solid red 1.0pt;background:#612603;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_0{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_1{font-family: 'Arial','sans-serif'; color: white; font-weight: bold; font-size: 16px;}
#tr_1949_1{height:19.35pt;}
#td_1949_1{width:499.5pt;border:solid red 1.0pt;border-top:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_1{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_2{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_2{height:18.45pt;}
#td_1949_2{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_2{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_3{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_3{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_3{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_4{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_4{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_4{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_5{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#tr_1949_3{height:18.45pt;}
#td_1949_5{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_5{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_6{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_6{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_6{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_7{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_7{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_7{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_4{height:18.45pt;}
#td_1949_8{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_8{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_8{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_9{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_9{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_9{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_10{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_10{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_10{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_11{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_12{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_1{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_5{height:19.35pt;}
#td_1949_11{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_11{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_13{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_14{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_6{height:36.15pt;}
#td_1949_12{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:36.15pt;}
#p_1949_12{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_15{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_13{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:36.15pt;}
#p_1949_13{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_16{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_14{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:36.15pt;}
#p_1949_14{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_17{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_18{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_19{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_2{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_7{height:19.35pt;}
#td_1949_15{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_15{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_20{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_21{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_8{height:18.45pt;}
#td_1949_16{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_16{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_22{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_17{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_17{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_23{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_18{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_18{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_24{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_25{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_9{height:18.45pt;}
#td_1949_19{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_19{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_26{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_20{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_20{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_27{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_21{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_21{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_28{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_29{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_3{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_10{height:19.35pt;}
#td_1949_22{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_22{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_30{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_31{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_11{height:18.45pt;}
#td_1949_23{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_23{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_32{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_24{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_24{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_33{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_25{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_25{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_34{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_35{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_4{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_12{height:19.35pt;}
#td_1949_26{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_26{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_36{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_37{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_13{height:18.45pt;}
#td_1949_27{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_27{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_38{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_28{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_28{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_39{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_29{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_29{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_40{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_41{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_14{height:18.45pt;}
#td_1949_30{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_30{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_42{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_31{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_31{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_43{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_32{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_32{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_44{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_45{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_15{height:18.45pt;}
#td_1949_33{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_33{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_46{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_34{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_34{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_47{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_35{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_35{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_48{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_49{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_50{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_5{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_16{height:19.35pt;}
#td_1949_36{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_36{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_51{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_52{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_17{height:18.45pt;}
#td_1949_37{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_37{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_53{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_38{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_38{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_54{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_39{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_39{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_55{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_56{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_6{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_18{height:19.35pt;}
#td_1949_40{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_40{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_57{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_58{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_19{height:18.45pt;}
#td_1949_41{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_41{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_59{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_42{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_42{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_60{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_43{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_43{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_61{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_62{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_20{height:18.45pt;}
#td_1949_44{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_44{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_63{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_45{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_45{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_64{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_46{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_46{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_65{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_66{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_67{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#span_1949_68{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_7{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_21{height:19.35pt;}
#td_1949_47{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_47{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_69{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_70{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_22{height:18.45pt;}
#td_1949_48{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_48{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_71{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_49{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_49{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_1949_72{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_50{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_50{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_73{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_74{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_75{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_8{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_23{height:19.35pt;}
#td_1949_51{width:499.5pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_51{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_76{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_77{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_24{height:18.45pt;}
#td_1949_52{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_52{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_78{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_53{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_53{margin-bottom:.7pt;text-autospace:none;}
#span_1949_79{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_54{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_54{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_80{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_81{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#span_1949_82{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_9{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_25{height:19.35pt;}
#td_1949_55{width:499.5pt;border:solid red 1.0pt;background:#612603;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_55{margin-bottom: .7pt; text-align: center; text-autospace: none; color: #FFFBF0; font-family: Arial, Helvetica, sans-serif;}
#tr_1949_26{height:18.45pt;}
#td_1949_56{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_56{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_83{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_57{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_57{margin-bottom:.7pt;text-autospace:none;}
#span_1949_84{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_58{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_58{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_85{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_86{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_27{height:18.45pt;}
#td_1949_59{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_59{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_87{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_60{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_60{margin-bottom:.7pt;text-autospace:none;}
#span_1949_88{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_61{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_61{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_89{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#tr_1949_28{height:18.45pt;}
#td_1949_62{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_62{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_90{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_63{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_63{margin-bottom:.7pt;text-autospace:none;}
#span_1949_91{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_64{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_64{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#tr_1949_29{height:18.45pt;}
#td_1949_65{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_65{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_92{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_66{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_66{margin-bottom:.7pt;text-autospace:none;}
#span_1949_93{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_67{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_67{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_94{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_95{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_10{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_30{height:19.35pt;}
#td_1949_68{width:499.5pt;border:solid red 1.0pt;background:#612603;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_68{margin-bottom: .7pt; text-align: center; text-autospace: none; font-family: Arial, sans-serif; font-size: 16px; color: rgba(255,251,240,1);}
#span_1949_96{font-family: Arial, sans-serif; font-size: 16px; color: #FFFBF0;}
#tr_1949_31{height:18.45pt;}
#td_1949_69{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_69{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_97{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_70{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_70{margin-bottom:.7pt;text-autospace:none;}
#span_1949_98{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_71{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_71{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_99{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#tr_1949_32{height:18.45pt;}
#td_1949_72{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_72{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_100{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_73{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_73{margin-bottom:.7pt;text-autospace:none;}
#span_1949_101{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_74{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_74{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_102{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_103{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1949_11{width:499.5pt;margin-left:-.05in;border-collapse:collapse;border:none;}
#tr_1949_33{height:19.35pt;}
#td_1949_75{width:499.5pt;border:solid red 1.0pt;background:#612603;padding:0in 5.4pt 0in 5.4pt;height:19.35pt;}
#p_1949_75{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_104{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#span_1949_105{font-family:'Arial','sans-serif'; color:white; }
#tr_1949_34{height:18.45pt;}
#td_1949_76{width:28.55pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_76{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_106{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_77{width:331.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_77{margin-bottom:.7pt;text-autospace:none;}
#span_1949_107{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#td_1949_78{width:139.5pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:18.45pt;}
#p_1949_78{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_1949_108{font-family:'Arial','sans-serif'; font-size:11.0pt; color:blue; }
#span_1949_109{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
