#table_ac08_0{margin-left:9.9pt;border-collapse:collapse;border:none;}
#tr_ac08_0{height:32.7pt;}
#td_ac08_0{width:463.5pt;border:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_ac08_0{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_ac08_0{font-family:'Arial','sans-serif';font-size:15.0pt; color:#860000; }
#tr_ac08_1{height:51.45pt;}
#td_ac08_1{width:463.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:51.45pt;}
#p_ac08_1{text-autospace:none;}
#span_ac08_1{font-family:'Arial','sans-serif'; font-size:13.0pt; color:blue; }
#tr_ac08_2{height:39.3pt;}
#td_ac08_2{width:463.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:39.3pt;}
#p_ac08_2{text-autospace:none;}
#span_ac08_2{font-family:'Arial','sans-serif'; font-size:13.0pt; color:blue; }
#span_ac08_3{font-family: 'Arial', 'sans-serif'; font-size: 13.0pt;}
#p_ac08_3{line-height:150%;}
#span_ac08_4{line-height:150%; font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
