#p_b2fa_0{text-align:center;}
#p_b2fa_1{text-align:center;}
#p_b2fa_2{text-align:center;}
#span_b2fa_0{font-family:'Arial','sans-serif'; color:#700000; }
#span_b2fa_1{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#57257D; }
#p_b2fa_3{text-align:center;}
#span_b2fa_2{font-family:'Arial','sans-serif'; color:#C00000; }
#p_b2fa_4{text-align:center;}
#span_b2fa_3{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#57257D; }
#span_b2fa_4{line-height:150%; font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_5{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_6{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_7{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_8{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_9{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_10{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_11{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_12{line-height:150%; font-family:'Arial','sans-serif'; font-size:11.0pt; color:#57257D; }
#p_b2fa_5{text-align:center;}
#span_b2fa_13{font-family:'Arial','sans-serif'; color:#C00000; }
#span_b2fa_14{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_15{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_16{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_17{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_18{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_19{color: #1C0092}
#span_b2fa_20{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#57257D; }
#p_b2fa_6{text-align:center;}
#span_b2fa_21{font-family:'Arial','sans-serif'; color:#C00000; }
#p_b2fa_7{text-align:center;}
#span_b2fa_22{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#57257D; }
#p_b2fa_8{line-height:150%;}
#span_b2fa_23{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_24{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_25{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_26{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_27{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_28{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_9{line-height:150%;}
#span_b2fa_29{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_10{line-height:150%;}
#span_b2fa_30{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_11{line-height:150%;}
#span_b2fa_31{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_32{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_12{margin-left:.25in;line-height:150%;}
#span_b2fa_33{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_34{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_35{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_36{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_37{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_38{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_39{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_40{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_41{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_42{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_43{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_44{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_45{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_46{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_47{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_48{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_49{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_13{line-height:150%;}
#span_b2fa_50{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_14{line-height:150%;}
#span_b2fa_51{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_15{line-height:150%;}
#span_b2fa_52{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_53{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_54{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_55{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_16{line-height:150%;}
#span_b2fa_56{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_17{line-height:150%;}
#span_b2fa_57{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_18{line-height:150%;}
#span_b2fa_58{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_19{line-height:150%;}
#span_b2fa_59{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_20{line-height:150%;}
#span_b2fa_60{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#p_b2fa_21{text-align:center;}
#p_b2fa_22{text-align:center;}
#span_b2fa_61{line-height:150%;font-family:'Arial','sans-serif'; color:#C00000; }
#span_b2fa_62{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#57257D; }
#p_b2fa_23{line-height:150%;}
#span_b2fa_63{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_64{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_65{line-height: 150%; font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_66{line-height: 150%; font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_67{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_68{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_69{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_70{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_71{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_72{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_73{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_74{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_75{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_76{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_77{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_78{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_79{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_80{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_81{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_82{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_83{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_84{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_85{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_86{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_87{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_88{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_89{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_90{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_91{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_92{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_93{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_94{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_95{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_96{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_97{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_98{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#span_b2fa_99{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #1C0092;}
#p_b2fa_24{line-height:150%;; color: #1C0092}
#p_b2fa_25{line-height:150%;}
#span_b2fa_100{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#C00000; }
#span_b2fa_101{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#table_b2fa_0{border-collapse:collapse;border:none;}
#td_b2fa_0{width:38.35pt;border:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_26{text-align:center;}
#span_b2fa_102{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_1{width:93.05pt;border:solid #1C0092 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_27{text-align:center;}
#span_b2fa_103{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_2{width:67.5pt;border:solid #1C0092 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_28{text-align:center;}
#span_b2fa_104{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_3{width:94.5pt;border:solid #1C0092 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_29{text-align:center;}
#span_b2fa_105{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_4{width:.75in;border:solid #1C0092 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_30{text-align:center;}
#span_b2fa_106{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_5{width:131.4pt;border:solid #1C0092 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_31{text-align:center;}
#span_b2fa_107{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_6{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_32{text-align:center;}
#span_b2fa_108{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_7{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_109{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_8{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_110{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_9{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_111{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_10{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_112{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_11{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_113{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_12{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_33{text-align:center;}
#span_b2fa_114{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_13{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_115{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_14{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_116{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_15{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_117{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_16{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_118{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_17{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_119{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_18{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_34{text-align:center;}
#span_b2fa_120{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_19{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_121{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_20{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_122{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_21{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_123{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_22{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_124{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_23{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_125{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_24{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_35{text-align:center;}
#span_b2fa_126{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_25{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_127{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_26{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_128{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_27{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_129{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_28{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_130{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_29{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_131{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_30{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_36{text-align:center;}
#span_b2fa_132{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_31{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_133{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_32{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_134{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_33{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_135{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_34{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_136{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_35{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_137{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_36{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_37{text-align:center;}
#span_b2fa_138{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_37{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_139{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_38{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_140{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_39{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_141{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_40{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_142{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_41{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_143{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_42{width:38.35pt;border:solid #1C0092 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;}
#p_b2fa_38{text-align:center;}
#span_b2fa_144{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_43{width:93.05pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_145{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_44{width:67.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_146{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_45{width:94.5pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_147{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_46{width:.75in;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_148{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#td_b2fa_47{width:131.4pt;border-top:none;border-left:none;border-bottom:solid #1C0092 1.0pt;border-right:solid #1C0092 1.0pt;padding:0in 5.4pt 0in 5.4pt;}
#span_b2fa_149{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_150{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_151{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#C00000; }
#span_b2fa_152{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_153{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
#span_b2fa_154{line-height:150%;font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
