#table_877f_0{border-collapse:collapse;border:none;}
#tr_877f_0{height:49.0pt;}
#td_877f_0{width:38.95pt;border:solid red 1.0pt;background:#007033;padding:0in 5.4pt 0in 5.4pt;height:49.0pt;}
#p_877f_0{text-align:center;}
#span_877f_0{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#td_877f_1{width:250.4pt;border:solid red 1.0pt;border-left:none;background:#007033;padding:0in 5.4pt 0in 5.4pt;height:49.0pt;}
#p_877f_1{text-align:center;}
#span_877f_1{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#td_877f_2{width:189.45pt;border:solid red 1.0pt;border-left:none;background:#007033;padding:0in 5.4pt 0in 5.4pt;height:49.0pt;}
#p_877f_2{text-align:center;}
#span_877f_2{font-family:'Arial','sans-serif'; font-size:11.0pt; color:white; }
#tr_877f_1{height:71.95pt;}
#td_877f_3{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#span_877f_3{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #481F67}
#span_877f_4{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_4{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_3{text-align:left;}
#span_877f_5{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_4{text-align:left;}
#span_877f_6{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_5{text-align:left;}
#span_877f_7{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_5{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_6{text-align:left;}
#span_877f_8{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_7{text-align:left;}
#span_877f_9{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_8{text-align:left;line-height:150%;}
#span_877f_10{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_9{text-align:left;}
#span_877f_11{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_10{text-align:left;}
#span_877f_12{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#span_877f_13{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_2{height:71.95pt;}
#td_877f_6{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_11{text-align:center;}
#span_877f_14{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_7{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_12{text-align:left;}
#span_877f_15{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_13{text-align:left;}
#span_877f_16{text-align:left;}
#span_877f_17{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #481F67;}
#td_877f_8{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_14{text-align:left;}
#span_877f_18{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_15{text-align:left;}
#span_877f_19{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_16{text-align:left;line-height:150%;}
#span_877f_20{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_17{text-align:left;}
#span_877f_21{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_18{text-align:left;}
#span_877f_22{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_3{height:71.95pt;}
#td_877f_9{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_19{text-align:center;}
#span_877f_23{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_10{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_20{text-align:left;}
#span_877f_24{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_21{text-align:left;}
#span_877f_25{text-align:left;}
#span_877f_26{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_11{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_22{text-align:left;}
#span_877f_27{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_23{text-align:left;}
#span_877f_28{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_24{text-align:left;line-height:150%;}
#span_877f_29{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_25{text-align:left;}
#span_877f_30{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_26{text-align:left;}
#span_877f_31{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_4{height:71.95pt;}
#td_877f_12{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_27{text-align:center;}
#span_877f_32{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_13{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_28{text-align:left;}
#span_877f_33{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_29{text-align:left;}
#span_877f_34{text-align:left;}
#span_877f_35{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_14{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_30{text-align:left;}
#span_877f_36{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_31{text-align:left;}
#span_877f_37{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_32{text-align:left;line-height:150%;}
#span_877f_38{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_33{text-align:left;}
#span_877f_39{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_34{text-align:left;}
#span_877f_40{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_5{height:71.95pt;}
#td_877f_15{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_35{text-align:center;}
#span_877f_41{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_16{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_36{text-align:left;}
#span_877f_42{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_37{text-align:left;}
#span_877f_43{text-align:left;}
#span_877f_44{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_17{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_38{text-align:left;}
#span_877f_45{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_39{text-align:left;}
#span_877f_46{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_40{text-align:left;line-height:150%;}
#span_877f_47{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_41{text-align:left;}
#span_877f_48{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_42{text-align:left;}
#span_877f_49{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_6{height:71.95pt;}
#td_877f_18{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_43{text-align:center;}
#span_877f_50{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_19{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_44{text-align:left;}
#span_877f_51{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_45{text-align:left;}
#span_877f_52{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #481F67;}
#td_877f_20{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_46{text-align:left;}
#span_877f_53{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_47{text-align:left;}
#span_877f_54{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_48{text-align:left;line-height:150%;}
#span_877f_55{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_49{text-align:left;}
#span_877f_56{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_50{text-align:left;}
#span_877f_57{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_7{height:71.95pt;}
#td_877f_21{width:38.95pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_51{text-align:center;}
#span_877f_58{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#td_877f_22{width:250.4pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_52{text-align:left;}
#span_877f_59{font-family:'Arial','sans-serif'; font-size:16.0pt; color:#8E0000; }
#p_877f_53{text-align:left;}
#span_877f_60{font-family: 'Arial', 'sans-serif'; font-size: 11.0pt; color: #481F67;}
#td_877f_23{width:189.45pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:71.95pt;}
#p_877f_54{text-align:left;}
#span_877f_61{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_55{text-align:left;}
#span_877f_62{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_56{text-align:left;line-height:150%;}
#span_877f_63{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_57{text-align:left;}
#span_877f_64{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_58{text-align:left;}
#span_877f_65{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#span_877f_66{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#tr_877f_8{height:39.55pt;}
#p_877f_59{text-align:left;}
#span_877f_67{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_60{text-align:left;line-height:150%;}
#span_877f_68{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_61{text-align:left;}
#span_877f_69{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#p_877f_62{text-align:left;}
#span_877f_70{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
#span_877f_71{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#481F67; }
