#table_75a6_0{margin-left: 9.9pt; border-collapse: collapse; border: none; font-size: 12px;}
#tr_75a6_0{height:32.7pt;}
#td_75a6_0{width:463.5pt;border:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_75a6_0{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_75a6_0{font-family: 'Arial', 'sans-serif'; color: #860000}
#tr_75a6_1{height:32.7pt;}
#td_75a6_1{color: rgb(0,0,255)}
#p_75a6_1{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_1{font-family: 'Arial', 'sans-serif'; color: blue}
#tr_75a6_2{height:32.7pt;}
#td_75a6_2{color: rgb(0,0,255)}
#p_75a6_2{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_2{font-family: 'Arial', 'sans-serif'; color: blue;}
#tr_75a6_3{height:32.7pt;}
#td_75a6_3{color: rgb(0,0,255)}
#p_75a6_3{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_3{font-family: 'Arial', 'sans-serif'; color: blue;}
#tr_75a6_4{height:32.7pt;}
#td_75a6_4{color: rgb(0,0,255)}
#p_75a6_4{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_4{font-family: 'Arial', 'sans-serif';}
#tr_75a6_5{height:32.7pt;}
#td_75a6_5{color: rgb(0,0,255)}
#p_75a6_5{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_5{font-family: 'Arial', 'sans-serif';}
#span_75a6_6{font-family: 'Arial', 'sans-serif';}
#tr_75a6_6{height:32.7pt;}
#td_75a6_6{color: rgb(0,0,255)}
#p_75a6_6{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_7{font-family: 'Arial', 'sans-serif';}
#span_75a6_8{font-family: 'Arial', 'sans-serif';}
#tr_75a6_7{height:32.7pt;}
#td_75a6_7{color: rgb(0,0,255)}
#p_75a6_7{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_75a6_9{font-family: 'Arial', 'sans-serif';}
#span_75a6_10{font-family: 'Arial', 'sans-serif'}
