#p_8827_0{text-align:center;}
#p_8827_1{text-align:center;}
#span_8827_0{font-family:'Arial','sans-serif'; color:#9A0000; }
#p_8827_2{text-align:center;}
#span_8827_1{font-family:'Arial','sans-serif'; color:#9A0000; }
#p_8827_3{text-align:center;}
#span_8827_2{font-family:'Arial','sans-serif'; color:#9A0000; }
#span_8827_3{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#740000; }
#table_8827_0{margin-left:9.9pt;border-collapse:collapse;border:none;}
#tr_8827_0{height:32.7pt;}
#td_8827_0{width:373.5pt;border:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_4{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_4{font-family:'Arial','sans-serif'; color:#860000; }
#td_8827_1{width:81.0pt;border:solid red 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_5{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_5{font-family:'Arial','sans-serif'; color:#860000; }
#tr_8827_1{height:32.7pt;}
#td_8827_2{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_6{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_6{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_3{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_7{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_7{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_2{height:32.7pt;}
#td_8827_4{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_8{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_8{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_5{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_9{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_9{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_3{height:32.7pt;}
#td_8827_6{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_10{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_10{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_7{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_11{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_11{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_4{height:32.7pt;}
#td_8827_8{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_12{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_12{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_9{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_13{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_13{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_5{height:32.7pt;}
#td_8827_10{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_14{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_14{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_11{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_15{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_15{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_6{height:32.7pt;}
#td_8827_12{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_16{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_16{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_13{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_17{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_17{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_7{height:32.7pt;}
#td_8827_14{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_18{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_18{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_15{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_19{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_19{font-family:'Arial','sans-serif'; color:blue; }
#tr_8827_8{height:32.7pt;}
#td_8827_16{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_20{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_8827_20{font-family:'Arial','sans-serif'; color:blue; }
#td_8827_17{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_8827_21{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_8827_21{font-family:'Arial','sans-serif'; color:blue; }
#span_8827_22{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#740000; }
