#p_f477_0{text-align:center;}
#p_f477_1{text-align:center;}
#span_f477_0{font-family:'Arial','sans-serif'; color:#9A0000; }
#p_f477_2{text-align:center;}
#span_f477_1{font-family:'Arial','sans-serif'; color:#9A0000; }
#p_f477_3{text-align:center;}
#span_f477_2{font-family:'Arial','sans-serif'; color:#9A0000; }
#span_f477_3{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#740000; }
#table_f477_0{margin-left:9.9pt;border-collapse:collapse;border:none;}
#tr_f477_0{height:32.7pt;}
#td_f477_0{width:373.5pt;border:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_4{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_4{font-family:'Arial','sans-serif'; color:#860000; }
#td_f477_1{width:81.0pt;border:solid red 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_5{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_5{font-family:'Arial','sans-serif'; color:#860000; }
#tr_f477_1{height:32.7pt;}
#td_f477_2{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_6{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_6{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_3{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_7{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_7{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_2{height:32.7pt;}
#td_f477_4{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_8{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_8{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_5{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_9{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_9{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_3{height:32.7pt;}
#td_f477_6{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_10{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_10{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_7{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_11{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_11{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_4{height:32.7pt;}
#td_f477_8{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_12{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_12{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_9{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_13{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_13{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_5{height:32.7pt;}
#td_f477_10{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_14{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_14{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_11{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_15{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_15{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_6{height:32.7pt;}
#td_f477_12{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_16{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_16{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_13{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_17{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_17{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_7{height:32.7pt;}
#td_f477_14{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_18{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_18{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_15{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_19{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_19{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_8{height:32.7pt;}
#td_f477_16{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_20{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_20{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_17{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_21{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_21{font-family:'Arial','sans-serif'; color:blue; }
#tr_f477_9{height:32.7pt;}
#td_f477_18{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_22{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_f477_22{font-family:'Arial','sans-serif'; color:blue; }
#td_f477_19{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_f477_23{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_f477_23{font-family:'Arial','sans-serif'; color:blue; }
#span_f477_24{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#740000; }
