#p_1b60_0{text-align:center;}
#p_1b60_1{text-align:center;}
#p_1b60_2{text-align:center;}
#span_1b60_0{font-family:'Arial','sans-serif'; font-size:14.0pt; color:red; }
#span_1b60_1{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#C800C8; }
#span_1b60_2{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#table_1b60_0{width:671.4pt;border-collapse:collapse;border:none;}
#td_1b60_0{width:44.85pt;border:solid red 1.0pt;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_3{text-align:center;}
#span_1b60_3{font-family:'Arial','sans-serif'; color:white; }
#td_1b60_1{width:99.35pt;border:solid red 1.0pt;border-left:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_4{text-align:center;}
#span_1b60_4{font-family:'Arial','sans-serif'; color:white; }
#p_1b60_5{text-align:center;}
#span_1b60_5{font-family:'Arial','sans-serif'; color:white; }
#td_1b60_2{width:92.75pt;border:solid red 1.0pt;border-left:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_6{text-align:center;}
#span_1b60_6{font-family:'Arial','sans-serif'; color:white; }
#td_1b60_3{width:60.9pt;border:solid red 1.0pt;border-left:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_7{text-align:center;}
#span_1b60_7{font-family:'Arial','sans-serif'; color:white; }
#td_1b60_4{width:57.55pt;border:solid red 1.0pt;border-left:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_8{text-align:center;}
#span_1b60_8{font-family:'Arial','sans-serif'; color:white; }
#td_1b60_5{width:155.95pt;border:solid red 1.0pt;border-left:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_9{text-align:center;}
#span_1b60_9{font-family:'Arial','sans-serif'; color:white; }
#td_1b60_6{width:160.05pt;border:solid red 1.0pt;border-left:none;background:#7030A0;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_10{text-align:center;}
#span_1b60_10{font-family:'Arial','sans-serif'; color:white; }
#tr_1b60_0{height:29.65pt;}
#td_1b60_7{width:671.4pt;border-top:none;border-left:solid red 1.0pt;border-bottom:solid black 1.0pt;border-right:solid red 1.0pt;background:#D6E3BC;padding:0in 5.4pt 0in 5.4pt;height:29.65pt;}
#p_1b60_11{text-align:left;}
#span_1b60_11{font-family:'Arial','sans-serif'; color:#00823B; }
#tr_1b60_1{height:67.45pt;}
#td_1b60_8{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#fff;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_12{text-align:center;}
#span_1b60_12{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_9{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_13{text-align:left;}
#span_1b60_13{font-family: 'Arial', 'sans-serif'; color: #C00000;}
#td_1b60_10{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_14{text-align:left;}
#span_1b60_14{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_15{text-align:left;}
#span_1b60_15{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_16{text-align:left;}
#span_1b60_16{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_11{width:60.9pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_17{text-align:center;}
#span_1b60_17{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_18{text-align:center;}
#span_1b60_18{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_12{width:57.55pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_19{text-align:center;}
#span_1b60_19{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_20{text-align:center;}
#span_1b60_20{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_13{width:155.95pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_21{text-align:center;}
#span_1b60_21{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_14{width:160.05pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:67.45pt;}
#p_1b60_22{text-align:left;}
#span_1b60_22{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_23{text-align:left;}
#span_1b60_23{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_24{text-align:left;}
#span_1b60_24{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_25{text-align:left;}
#span_1b60_25{font-family:'Arial','sans-serif'; color:#C00000; }
#tr_1b60_2{height:30.55pt;}
#td_1b60_15{width:671.4pt;border-top:none;border-left:solid red 1.0pt;border-bottom:solid black 1.0pt;border-right:solid red 1.0pt;background:#D6E3BC;padding:0in 5.4pt 0in 5.4pt;height:30.55pt;}
#p_1b60_26{text-align:left;}
#span_1b60_26{font-family:'Arial','sans-serif'; color:#00823B; }
#tr_1b60_3{height:80.95pt;}
#td_1b60_16{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_27{text-align:center;}
#span_1b60_27{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_17{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_28{text-align:left;}
#span_1b60_28{font-family: 'Arial', 'sans-serif'; color: #C00000;}
#td_1b60_18{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_29{text-align:left;}
#span_1b60_29{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_30{text-align:left;}
#span_1b60_30{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_31{text-align:left;}
#span_1b60_31{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_19{width:60.9pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_32{text-align:center;}
#span_1b60_32{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_33{text-align:center;}
#span_1b60_33{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_20{width:57.55pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_34{text-align:center;}
#span_1b60_34{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_35{text-align:center;}
#span_1b60_35{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_21{width:155.95pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_36{text-align:center;}
#span_1b60_36{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_22{width:160.05pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.95pt;}
#p_1b60_37{text-align:left;}
#span_1b60_37{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_38{text-align:left;}
#span_1b60_38{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_39{text-align:left;}
#span_1b60_39{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_40{text-align:left;}
#span_1b60_40{font-family:'Arial','sans-serif'; color:#C00000; }
#tr_1b60_4{height:26.5pt;}
#td_1b60_23{width:671.4pt;border:solid red 1.0pt;border-top:none;background:#D6E3BC;padding:0in 5.4pt 0in 5.4pt;height:26.5pt;}
#p_1b60_41{text-align:left;}
#span_1b60_41{font-family:'Arial','sans-serif'; color:#00823B; }
#tr_1b60_5{height:80.45pt;}
#td_1b60_24{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_42{text-align:center;}
#span_1b60_42{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_25{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_43{text-align:left;}
#span_1b60_43{font-family: 'Arial', 'sans-serif'; color: #C00000;}
#td_1b60_26{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_44{text-align:left;}
#span_1b60_44{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_45{text-align:left;}
#span_1b60_45{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_46{text-align:left;}
#span_1b60_46{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_27{width:60.9pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_47{text-align:center;}
#span_1b60_47{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_48{text-align:center;}
#span_1b60_48{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_49{text-align:center;}
#span_1b60_49{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_28{width:57.55pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_50{text-align:center;}
#span_1b60_50{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_51{text-align:center;}
#span_1b60_51{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_29{width:155.95pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_52{text-align:center;}
#span_1b60_52{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_30{width:160.05pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:80.45pt;}
#p_1b60_53{text-align:left;}
#span_1b60_53{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_54{text-align:left;}
#span_1b60_54{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_55{text-align:left;}
#span_1b60_55{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_56{text-align:left;}
#span_1b60_56{font-family:'Arial','sans-serif'; color:#C00000; }
#tr_1b60_6{height:73.75pt;}
#td_1b60_31{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_57{text-align:center;}
#span_1b60_57{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_32{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_58{text-align:left;}
#span_1b60_58{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_33{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_59{text-align:left;}
#span_1b60_59{font-family: 'Arial', 'sans-serif'; color: #C00000;}
#p_1b60_60{text-align:left;}
#span_1b60_60{font-family: 'Arial', 'sans-serif'; color: #C00000}
#p_1b60_61{text-align:left;}
#span_1b60_61{font-family: 'Arial', 'sans-serif'; color: #C00000;}
#p_1b60_62{text-align:left;}
#span_1b60_62{font-family: 'Arial', 'sans-serif'; color: #C00000}
#p_1b60_63{text-align:left;}
#td_1b60_34{width:60.9pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_64{text-align:center;}
#span_1b60_63{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_65{text-align:center;}
#span_1b60_64{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_66{text-align:center;}
#span_1b60_65{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_35{width:57.55pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_67{text-align:center;}
#span_1b60_66{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_68{text-align:center;}
#span_1b60_67{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_36{width:155.95pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_69{text-align:center;}
#span_1b60_68{font-family:'Arial','sans-serif'; color:#C00000; }
#td_1b60_37{width:160.05pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:73.75pt;}
#p_1b60_70{text-align:left;}
#span_1b60_69{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_71{text-align:left;}
#span_1b60_70{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_72{text-align:left;}
#span_1b60_71{font-family:'Arial','sans-serif'; color:#C00000; }
#p_1b60_73{text-align:left;}
#span_1b60_72{font-family:'Arial','sans-serif'; color:#C00000; }
#tr_1b60_7{height:26.95pt;}
#td_1b60_38{width:671.4pt;border:solid red 1.0pt;border-top:none;background:#D6E3BC;padding:0in 5.4pt 0in 5.4pt;height:26.95pt;}
#p_1b60_74{text-align:left;}
#span_1b60_73{font-family:'Arial','sans-serif'; color:#00823B; }
#td_1b60_39{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_75{text-align:center;}
#span_1b60_74{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_40{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_76{text-align:left;}
#span_1b60_75{font-family: 'Arial', 'sans-serif'; color: #943634;}
#td_1b60_41{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_77{text-align:left;}
#span_1b60_76{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_78{text-align:left;}
#span_1b60_77{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_79{text-align:left;}
#span_1b60_78{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_80{text-align:left;}
#span_1b60_79{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_81{text-align:left;}
#span_1b60_80{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_42{width:60.9pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_82{text-align:center;}
#span_1b60_81{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_83{text-align:center;}
#span_1b60_82{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_43{width:57.55pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_84{text-align:center;}
#span_1b60_83{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_44{width:155.95pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_85{text-align:center;}
#span_1b60_84{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_45{width:160.05pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_86{text-align:left;}
#span_1b60_85{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_87{text-align:left;}
#span_1b60_86{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_88{text-align:left;}
#span_1b60_87{font-family:'Arial','sans-serif'; color:#943634; }
#tr_1b60_8{height:33.25pt;}
#td_1b60_46{width:671.4pt;border:solid red 1.0pt;border-top:none;background:#D6E3BC;padding:0in 5.4pt 0in 5.4pt;height:33.25pt;}
#p_1b60_89{text-align:left;}
#span_1b60_88{font-family:'Arial','sans-serif'; color:#00823B; }
#td_1b60_47{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_90{text-align:center;}
#span_1b60_89{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_48{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_91{text-align:left;}
#span_1b60_90{font-family: 'Arial', 'sans-serif'; color: #943634;}
#td_1b60_49{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_92{text-align:left;}
#span_1b60_91{font-family: 'Arial', 'sans-serif'; color: #943634;}
#td_1b60_50{width:60.9pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_93{text-align:center;}
#span_1b60_92{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_94{text-align:center;}
#span_1b60_93{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_51{width:57.55pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_95{text-align:center;}
#span_1b60_94{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_52{width:155.95pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_96{text-align:center;}
#span_1b60_95{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_53{width:160.05pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;}
#p_1b60_97{text-align:left;}
#span_1b60_96{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_98{text-align:left;}
#span_1b60_97{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_99{text-align:left;}
#span_1b60_98{font-family:'Arial','sans-serif'; color:#943634; }
#tr_1b60_9{height:24.7pt;}
#td_1b60_54{width:671.4pt;border:solid red 1.0pt;border-top:none;background:#D6E3BC;padding:0in 5.4pt 0in 5.4pt;height:24.7pt;}
#p_1b60_100{text-align:left;}
#span_1b60_99{font-family:'Arial','sans-serif'; color:#00823B; }
#tr_1b60_10{height:52.55pt;}
#td_1b60_55{width:44.85pt;border:solid red 1.0pt;border-top:none;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_101{text-align:center;}
#span_1b60_100{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_56{width:99.35pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_102{text-align:left;}
#span_1b60_101{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_57{width:92.75pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_103{text-align:left;}
#span_1b60_102{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_58{width:60.9pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_104{text-align:center;}
#span_1b60_103{font-family:'Arial','sans-serif'; color:#943634; }
#p_1b60_105{text-align:center;}
#span_1b60_104{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_59{width:57.55pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_106{text-align:center;}
#span_1b60_105{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_60{width:155.95pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_107{text-align:center;}
#span_1b60_106{font-family:'Arial','sans-serif'; color:#943634; }
#td_1b60_61{width:160.05pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;background:#FFF;padding:0in 5.4pt 0in 5.4pt;height:52.55pt;}
#p_1b60_108{text-align:left;}
#span_1b60_107{font-family:'Arial','sans-serif'; color:#943634; }
