#p_5040_0{text-align:center;}
#p_5040_1{text-align:center;}
#span_5040_0{font-family:'Arial','sans-serif'; color:#9A0000; }
#p_5040_2{text-align:center;}
#span_5040_1{font-family:'Arial','sans-serif'; color:#9A0000; }
#p_5040_3{text-align:center;}
#span_5040_2{font-family:'Arial','sans-serif'; color:#9A0000; }
#span_5040_3{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#740000; }
#table_5040_0{margin-left:9.9pt;border-collapse:collapse;border:none;}
#tr_5040_0{height:32.7pt;}
#td_5040_0{width:373.5pt;border:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_4{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_4{font-family:'Arial','sans-serif'; color:#860000; }
#td_5040_1{width:81.0pt;border:solid red 1.0pt;border-left:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_5{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_5{font-family:'Arial','sans-serif'; color:#860000; }
#tr_5040_1{height:32.7pt;}
#td_5040_2{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_6{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_6{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_3{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_7{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_7{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_2{height:32.7pt;}
#td_5040_4{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_8{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_8{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_5{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_9{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_9{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_3{height:32.7pt;}
#td_5040_6{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_10{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_10{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_7{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_11{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_11{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_4{height:32.7pt;}
#td_5040_8{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_12{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_12{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_9{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_13{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_13{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_5{height:32.7pt;}
#td_5040_10{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_14{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_14{font-family:'Arial','sans-serif'; color:blue; }
#p_5040_15{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_15{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_11{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_16{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_16{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_6{height:32.7pt;}
#td_5040_12{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_17{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_17{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_13{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_18{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_18{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_7{height:32.7pt;}
#td_5040_14{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_19{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_19{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_15{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_20{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_20{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_8{height:32.7pt;}
#td_5040_16{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_21{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_21{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_17{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_22{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_22{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_9{height:32.7pt;}
#td_5040_18{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_23{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_23{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_19{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_24{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_24{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_10{height:32.7pt;}
#td_5040_20{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_25{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_25{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_21{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_26{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_26{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_11{height:32.7pt;}
#td_5040_22{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_27{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_27{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_23{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_28{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_28{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_12{height:32.7pt;}
#td_5040_24{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_29{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_29{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_25{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_30{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_30{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_13{height:32.7pt;}
#td_5040_26{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_31{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_31{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_27{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_32{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_32{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_14{height:32.7pt;}
#td_5040_28{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_33{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_33{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_29{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_34{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_34{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_15{height:32.7pt;}
#td_5040_30{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_35{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_35{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_31{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_36{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_36{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_16{height:32.7pt;}
#td_5040_32{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_37{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_37{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_33{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_38{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_38{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_17{height:32.7pt;}
#td_5040_34{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_39{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_39{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_35{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_40{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_40{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_18{height:32.7pt;}
#td_5040_36{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_41{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_41{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_37{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_42{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_42{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_19{height:32.7pt;}
#td_5040_38{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_43{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_43{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_39{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_44{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_44{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_20{height:32.7pt;}
#td_5040_40{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_45{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_45{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_41{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_46{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_46{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_21{height:32.7pt;}
#td_5040_42{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_47{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_47{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_43{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_48{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_48{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_22{height:32.7pt;}
#td_5040_44{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_49{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_49{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_45{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_50{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_50{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_23{height:32.7pt;}
#td_5040_46{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_51{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_51{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_47{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_52{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_52{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_24{height:32.7pt;}
#td_5040_48{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_53{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_53{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_49{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_54{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_54{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_25{height:32.7pt;}
#td_5040_50{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_55{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_55{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_51{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_56{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_56{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_26{height:32.7pt;}
#td_5040_52{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_57{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_57{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_53{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_58{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_58{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_27{height:32.7pt;}
#td_5040_54{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_59{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_59{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_55{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_60{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_60{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_28{height:32.7pt;}
#td_5040_56{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_61{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_61{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_57{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_62{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_62{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_29{height:32.7pt;}
#td_5040_58{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_63{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_63{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_59{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_64{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_64{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_30{height:32.7pt;}
#td_5040_60{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_65{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_65{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_61{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_66{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_66{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_31{height:32.7pt;}
#td_5040_62{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_67{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_67{font-family:'Arial','sans-serif'; color:blue; }
#span_5040_68{font-family:'Arial','sans-serif'; }
#td_5040_63{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_68{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_69{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_32{height:32.7pt;}
#td_5040_64{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_69{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_70{font-family:'Arial','sans-serif'; color:blue; }
#span_5040_71{font-family:'Arial','sans-serif';}
#td_5040_65{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_70{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_72{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_33{height:32.7pt;}
#td_5040_66{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_71{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_73{font-family:'Arial','sans-serif'; color:blue; }
#span_5040_74{font-family:'Arial','sans-serif';}
#td_5040_67{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_72{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_75{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_34{height:32.7pt;}
#td_5040_68{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_73{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_76{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_69{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_74{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_77{font-family:'Arial','sans-serif'; color:blue; }
#tr_5040_35{height:32.7pt;}
#td_5040_70{width:373.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_75{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_5040_78{font-family:'Arial','sans-serif'; color:blue; }
#td_5040_71{width:81.0pt;border-top:none;border-left:none;border-bottom:solid red 1.0pt;border-right:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_5040_76{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_5040_79{font-family:'Arial','sans-serif'; color:blue; }
#span_5040_80{font-family:'Arial','sans-serif'; font-size:11.0pt; color:#740000; }
