#table_099a_0{margin-left:9.9pt;border-collapse:collapse;border:none;}
#tr_099a_0{height:32.7pt;}
#td_099a_0{width:463.5pt;border:solid red 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_099a_0{margin-bottom:.7pt;text-align:center;text-autospace:none;}
#span_099a_0{font-family:'Arial','sans-serif';font-size:15.0pt; color:#860000; }
#tr_099a_1{height:51.45pt;}
#td_099a_1{width:463.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:51.45pt;}
#p_099a_1{text-autospace:none;}
#span_099a_1{font-family:'Arial','sans-serif'; font-size:13.0pt; color:blue; }
#a_099a_0{color: #2A00AA}
#tr_099a_2{height:39.3pt;}
#td_099a_2{width:463.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:39.3pt;}
#p_099a_2{text-autospace:none;}
#a_099a_1{font-family: Arial, Helvetica, sans-serif; color: #2A00AA;}
#tr_099a_3{height:39.75pt;}
#td_099a_3{width:463.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:39.75pt;}
#p_099a_3{text-autospace:none;}
#span_099a_2{color: rgb(42,0,170);}
#span_099a_3{font-family: Arial, sans-serif}
#a_099a_2{font-family: Arial, sans-serif; color: #2A00AA;}
#span_099a_4{font-family:'Arial','sans-serif'; font-size:13.0pt; color:blue; }
#a_099a_3{font-family: Arial, sans-serif; color: #2A00AA;}
#tr_099a_4{height:32.7pt;}
#td_099a_4{width:463.5pt;border:solid red 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:32.7pt;}
#p_099a_4{margin-bottom:.7pt;text-align:left;text-autospace:none;}
#span_099a_5{font-family:'Arial','sans-serif'; font-size:13.0pt; color:blue; }
#a_099a_4{color: rgb(42,0,170)}
#p_099a_5{line-height:150%;}
#span_099a_6{line-height:150%; font-family:'Arial','sans-serif'; font-size:11.0pt; color:#1C0092; }
