#table_8298_0{background:white;border-collapse:collapse;border:none;}
#tr_8298_0{height:220.5pt;}
#td_8298_0{width:486.9pt;border-top:double #C00000 6.0pt;border-left:none;border-bottom:double #C00000 6.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt;height:220.5pt;}
#p_8298_0{text-align:center;}
#span_8298_0{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#p_8298_1{text-align:center;}
#span_8298_1{font-family:'Benguiat Bk BT','serif'; font-size:13.0pt; color:#C00000; }
#p_8298_2{text-align:center;}
#span_8298_2{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#p_8298_3{text-align:center;}
#span_8298_3{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#p_8298_4{text-align:center;}
#span_8298_4{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_5{text-align:center;}
#span_8298_5{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_6{text-align:center;}
#span_8298_6{font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_7{text-align:left;}
#span_8298_7{font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_8{text-align:left;}
#span_8298_8{font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_9{text-align:left;line-height:150%;}
#span_8298_9{line-height:150%; font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_10{text-align:left;line-height:150%;}
#span_8298_10{font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_11{text-align:left;}
#span_8298_11{font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_12{text-align:left;}
#span_8298_12{font-family:'Arial','sans-serif'; color:#8E0000; }
#p_8298_13{text-align:left;}
#span_8298_13{font-family:'Arial','sans-serif'; color:black; }
#p_8298_14{text-align:center;}
#span_8298_14{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#tr_8298_1{height:98.25pt;}
#td_8298_1{width:486.9pt;border:none;border-bottom:double #C00000 6.0pt;padding:0in 5.4pt 0in 5.4pt;height:98.25pt;}
#p_8298_15{text-align:left;}
#span_8298_15{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_16{text-align:left;}
#span_8298_16{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_17{text-align:center;}
#span_8298_17{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#p_8298_18{text-align:center;}
#span_8298_18{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_19{text-align:center;}
#span_8298_19{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_20{text-align:center;}
#span_8298_20{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_21{text-align:center;}
#span_8298_21{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_22{text-align:center;}
#span_8298_22{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_23{text-align:center;}
#span_8298_23{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#tr_8298_2{height:85.5pt;}
#td_8298_2{width:486.9pt;border:none;border-bottom:double #C00000 6.0pt;padding:0in 5.4pt 0in 5.4pt;height:85.5pt;}
#p_8298_24{text-align:center;}
#span_8298_24{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_25{text-align:center;}
#span_8298_25{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_26{text-align:center;}
#span_8298_26{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#p_8298_27{text-align:center;}
#span_8298_27{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_28{text-align:center;}
#span_8298_28{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_29{text-align:center;}
#span_8298_29{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_30{text-align:center;}
#span_8298_30{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_31{text-align:center;}
#span_8298_31{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#tr_8298_3{height:111.0pt;}
#td_8298_3{width:486.9pt;border:none;border-bottom:double #C00000 6.0pt;padding:0in 5.4pt 0in 5.4pt;height:111.0pt;}
#p_8298_32{text-align:center;}
#span_8298_32{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_33{text-align:center;}
#span_8298_33{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
#p_8298_34{text-align:center;}
#span_8298_34{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#7030A0; }
#p_8298_35{text-align:center;}
#span_8298_35{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_36{text-align:center;}
#span_8298_36{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_37{text-align:center;}
#span_8298_37{font-family:'Arial','sans-serif'; font-size:13.0pt; color:#007033; }
#p_8298_38{text-align:center;}
#span_8298_38{font-family:'Arial','sans-serif'; font-size:11.0pt; color:black; }
