@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
  background: #D9D9D9;
  font-family: 'Arial,Helvetica,sans-serif;
  font-size: 16px;
  color:#4e4e4e;
  line-height: 22px;
  overflow-x:hidden;
}

h1,
h2,
h3,
h4,

h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}
h5{
font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:red;
  font-size: 18px;
  text-align:center;
}

h1{
  font-size: 36px;
  color: #0000ff;
  text-shadow: 0 2px white, 0 3px #777;
}

h2{
  color: #007033;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  text-align:center;
  font-weight:600;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  /*color: #fff;*/
  font-family:"Arial,Helvetica,sans-serif";
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #c52d2f;
  width:500px;
}


.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 350px;
}

.center h2{
  font-size: 30px;
  margin-top: -17;
  margin-bottom: -30px;	
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}



/*************************
*******Header******
**************************/

#header .search{
  display: inline-block;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

.top-bar {
  padding: 8px 8px;
  background: #4484ce;
  border-bottom: 1px solid #222;
  line-height: 28px;
}


.space {
  padding: 30px 0;
  background: #fff;
  border-bottom: none;
  line-height: 28px;
}
.top-number{
  color: #fff;
}

.top-number p{
  margin: 0
}

.search i {
  color: #fff;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 60px;
  padding: 0 10px;
  color: #fff;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  /*background: #4484CE;*/
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 10px;
 }

.navbar-nav>li{
  margin-left: 10px;
  padding-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
  /*padding: 3px 12px;*/
  padding: 5px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 4px 10px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f ;
  color: #fff;
  
}
.co-op>li:hover >a,
.co-op>li:focus > a {
	background-color: #c52d2f !important;
  color: #fff;
  
}
.co-op > li.divider {
  background-color: transparent !important;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 5px 5px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*******Header Menus******/


.breadcrumb {
	background: #4484ce; 
	border: 0px solid rgba(10, 10, 10, 1); 
	border-radius: 0px; 
	display: block; 
	/*margin-right:50px;*/
}
.breadcrumb li {font-size: 12px;font-weight: 500;}


.breadcrumb a {color: rgba(235, 240, 245, 1);}
.breadcrumb a:hover {
	color: #000;
	}
.breadcrumb>.active {color: rgba(204, 18, 18, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}




/* COLOR CHANGER FUNCTION*/
#colorchanger { float:right;padding-top: 5px; }
.colorbox { width:15px; height:15px; border:1px solid #050505; float:left; margin:2px; cursor:pointer; display:block; }
.colorblue { background-color:#bfe1f1; }
.colorblue:hover { background-color:#90bcd0; }
.colororange { background-color:#F69C3A; }
.colororange:hover { background-color:#FF5C01; }
.colorgreen { background-color:#78A848; }
.colorgreen:hover { background-color:#189048; }


/*zoom-in*/
	.button:hover {
		opacity: 0.9;
	}
	
	.incfont{
	background-color:blue;   
	color:white;
	font-weight: bold;  
    text-align: center;  
	}
	.decfont{
	background-color:blue;
    
	color:white;
	/*height: 20px;
    width: 20px;  */
    text-align: center;
    font-weight: bold;
	}
	
	.reset{
	background-color: blue;
	color:white;
    font-weight: bold;	
	}
	.buttonfont{
	color:dimgrey;
	}



/*******End of Header Menus******/

/*******Logo******/
.logo{
	padding: 3px 0;
  background: #D9D9D9;
  border-bottom: 1px solid #222;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;   
  /*line-height: 20px;*/
}

#logo1>img {
	width:50px;
	height: 70px;
	float: center;
	margin-top: 4px;
}

.logo3 {
    text-shadow: 0 2px white, 0 3px #777;
	/*margin: 1em 0 0.5em 0;*/
	font-family: 'Ultra', sans-serif; 
	/*color: #4484ce;*/
	/*font-weight: normal;*/
	/*text-transform: uppercase;*/
}
#logo2{
	text-shadow: 0 2px white, 0 3px #777;
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 14px;
	color: blue;
	font-weight: 200;
	padding: none;
	margin-top: 20px;
	/*line-height: 24px;*/
}

/*******End of logo******/


/*************************
*******Home Page******
**************************/
/* lists on home page right panel*/
.left-update
{
	margin-top: 3px;
}

.three li{
	float: center;
}
.update-title {
	color: #fff;
	background-color: #4484CE;
	padding: 5px;
	border-bottom: 1;
	border-bottom-color: black;
}

#panel-right 
{
	margin:2px;
}
#panel-right table
{
	height: 490px;
	 width: 260px;
}
/*#panel-right .col-sm-3 table
{
	height:300px;
	width:260px;
}*/
#panel-right li a {
	color: black;
}
#panel-right li a:hover {
	color: #196F3D;
}	
.list-update {
	text-align: justify;
    list-style-type: none;
    margin: 15px;
}
.jobs-link {
	padding: 0 5px !important;
}
.jobs-link a {
	list-style-type: none;
	padding: 10px 0 !important;
	margin: 5px 0 !important;
	font-size: 16px;
}
/*******End of logo******/


/* lists on home page right panel*/

.jobs-link a{
	/*list-styel-type: none;*/
	padding: 10px 0 !important;
	margin: 5px 0 !important;
	font-size: 14px;

}


#main-slider {
  position: relative;
}

.no-margin {
  margin: 0;
  padding: 0;
}
	

#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
    padding-top:0px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #c52d2f;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}


.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}


#conatcat-info{
  background: #fff url(../images/contact.png) no-repeat 90% 0;
  padding: 30px 0;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #000;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #000;
}

.contact-info{
  color:#000;
}



/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items, 
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #c52d2f;
  border: 1px solid #c52d2f;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}



/*/*********************
****blog page css*****
**********************/


.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}




/***********************
********* Footer ******
************************/
.top-bar2 {
  color: gray;
  background-color: #151515;
  border-bottom: 1px solid #222;
  /*line-height: 28px;*/
  /*padding: 8px 8px;*/
  
}
#container{
	width:100%;
	height:200%;
}
#address {
	font-family:Arial, Helvetica, sans-serif;
    float: left;
    
    padding-top: 25px;
}

#footer {
	font-family:Arial, Helvetica, sans-serif;
    padding-top: 25px;
    text-align: right;
}

.indanlink {
   margin-top: 30px; 
    
}
.count img {
    margin-left: -12px;
    margin-top: 43px;
}
.gover,.cm,.mco,.cs,.scop,.rcops{
	color:white;
}
.visitor {
	 margin: 5px 20px;
}	


/******* bottom marquee font color*******/
.recr a {
    color: black;
}

/******Publication.html*********/
/*table{
	border-collapse: collapse;
	border:0;
}*/

.major1{
	margin: 20px;
}
.major1 table{
	width: 100%;
	margin: 0 5px;
}	
.publish{
	border: 1px solid blue;
	margin-left: 9.9pt;
	margin-right:9.9pt;
	font-size: 12px;
	width:775px;
}
#apDiv13 table tr{
	width: 800px;
	height:32.7pt;
	border: 1px solid blue;
	font-size: 14px;
	padding: 5px;
	text-align:center;
	color:red;
 }
 #apDiv13 table th{
	
	height:32.7pt;
	/*border: 1px solid blue;*/
	border-bottom-left-radius:none;
	border-bottom-right-radius:none;
	font-size: 15px;
	
	text-align:center;
	color:blue;
 }
 #apDiv13 table th p{
	
	height:32.7pt;
	/*border: 1px solid blue;*/
	border-bottom-left-radius:none;
	border-bottom-right-radius:none;
	font-size: 15px;
	
	text-align:center;
	color:blue;
 }
 
 #apDiv13 table td a{
 	
 	font-family: 'Arial', 'sans-serif';
 	color:#d43133;
 	margin-left: 5px;

 }
.side-head h5{
 	font-family: 'Arial', 'sans-serif';
 	color: green !important;
 	margin-left: 5px;

 }
 #apDiv13 table td a:hover{
 	
 	font-family: 'Arial', 'sans-serif';
 	color:black;

 }
 #appdiv13 table td{
 	
 	padding: 4px;
 	color: blue;
 }
 
 
 ul.list li {
 	text-align: left;
	margin-bottom:.7pt;
	font-family: 'Arial', 'sans-serif';
	color: #d43133;
	font-size:14px;
}
 
.MsoNormal {
	text-align: center;
	margin-bottom:.7pt;
	font-family: 'Arial', 'sans-serif';
	color: blue;
	font-size:14px;
	width:400px;
	
}

/******Revision and NMD Petitions.html*********/

#revision table td{
	text-align: center;	
	padding: 5px;
	font-family: 'Arial', 'sans-serif';
	color: #58267E;
	border-right: 1px solid blue;
	font-weight:bold;
}
.first-row table th {
	text-align: center;	
	padding: 5px;
	font-family: 'Arial', 'sans-serif';
	color: #007033;
	border-right: 1px solid blue;
	font-weight:bold;
}

/******Faq.html*********/
.faq{
	padding:4px;
}
.faq p a{
	text-align: center;
	font-size: 14px;
	margin-bottom:.7pt;
	font-family: 'Arial', 'sans-serif';
	color: #860000;
	font-weight:bold;
	
}
.faq p a:hover{	
 	color:black;
 }
 .faq-head h4{
	font-size: 16px;
	color:red;
	text-align:center;
}

/******* Faq1.html *********/

#faq1 table tr{
	
	height:32.7pt;
	border: 1px solid red;
	font-size: 12px;
	
 }
 .major3{
 	margin: 60px;
 }

#faq1 table td p{
	border: 1px;
 	width: 700px;
 	font-family: 'Arial', 'sans-serif';
 	color:blue;
 	margin-left: 5px;
 }	
 
 #faq1 table td p a{
	border: 1px;
 	width: 500px;
 	font-family: 'Arial', 'sans-serif';
 	color:blue;
 	margin-left: 5px;
 }	
 
 #faq1 p a{
	text-align: left;
	font-size: 14px;
	margin-bottom:.7pt;
	font-family: 'Arial', 'sans-serif';
	color: #860000;	
}	

#faq1 p a:hover{
 	color:black;
 }
 /*******Compendium Of circular********/
.pdf{
	weight:20px;
	height:20px;
}
/*******Projects and scheme page********/

.scheme {
	text-align: left;
	margin-bottom:.7pt;
	font-family: 'Arial', 'sans-serif';
	color: #d43133;
	font-size:14px;
	
	
}
/*******Contact-Us********/
.contact
{
	color: #58267E;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  text-align:center;
	
}
.contact1{
	text-align: center;
	margin-bottom:.7pt;
	font-family: 'Arial', 'sans-serif';
	color: blue;
	font-size:14px;	
}
.ruler hr{
	border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid red;
 }  
 /*******movement********/ 
 .move{
 	color:#d43133;
 	font-size:15px;
 	font-weight: bold;
 }
 .move1{
 	color:blue;
 	font-size:14px; 	
 }
  /*******organisation********/  
  .organ img{
  	width:700px;
  	height: 850px;
  	padding: 10px;   	
  }  
#zoom{
	font-size:14px;
}

