
	.button:hover {
		opacity: 0.9;
	}
	
	.incfont{
	background-color:white;
    background-image: -webkit-linear-gradient(top,blue, blue);
    background-image: -moz-linear-gradient(top,blue,blue);
	color:white;
	/*padding:2px 2px; */
	/*height: 20px;
    width: 20px;*/
  
    text-align: center;
   
	}
	.decfont{
	background-color:white;
    background-image: -webkit-linear-gradient(top,blue, blue);
    background-image: -moz-linear-gradient(top,blue,blue);
	color:white;
	/*height: 20px;
    width: 20px;  */
    text-align: center;
	}
	
	.reset{
	background-color:white;
    background-image: -webkit-linear-gradient(top,blue, blue);
    background-image: -moz-linear-gradient(top,blue,blue);
	color:white;
	/*height: 20px;
    width: 20px;*/
    text-align: center;
		
	}
	.buttonfont{
	color:dimgrey;
	}