/*zoom-in*/
	.button:hover {
		opacity: 0.9;
	}
	
	.incfont{
	background-color:blue;
    
	color:white;
	font-weight: bold;
  
    text-align: center;
   
	}
	.decfont{
	background-color:blue;
    
	color:white;
	/*height: 20px;
    width: 20px;  */
    text-align: center;
    font-weight: bold;
	}
	
	.reset{
	background-color: blue;
	color:white;
    font-weight: bold;	
	}
	.buttonfont{
	color:dimgrey;
	}